<div class="container">
    <h3 class="buttonPurple">
        <button mat-icon-button color="#5230ff" aria-label="Login page" (click)="redirectToHomePage()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        Editar
    </h3>
    <div class="form">
        <app-task-form [taskIdToUpdate]="taskIdToUpdate"></app-task-form>
    </div>
    <button mat-button type="submit" class="submit-button">Guardar</button>
</div>
<!-- this.submitBtnMsg = "Guardar"
this.comeBackMsg = "Editar" -->