<div class="container">
    <h3 class="buttonPurple">
        <button mat-icon-button color="#5230ff" aria-label="Login page" (click)="redirectToHomePage()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        Nueva Tarea
    </h3>
    <div class="form">
        <app-task-form 
            [taskIdToUpdate]="taskIdToUpdate" 
            [taskData]="taskData" 
            (formSubmit)="onFormSubmit($event)">
        </app-task-form>
        <button mat-button type="submit" class="submit-button" (click)="saveTask()">Crear</button>
    </div>
</div>
<!-- 
this.submitBtnMsg = "Crear"
this.comeBackMsg = "Nueva Tarea" -->