<div class="container">
    <h1 class="title">
        <img src="../../../assets/WorkspaceLogo.png" width="55" height="55">workspace
    </h1>
    <h3 class="subtitle">
        ¡Bienvenido!
    </h3>
    <form [formGroup]="loginForm" (ngSubmit)="logUser()" class="form">
        <h3 class="formTitle">Login</h3>
        <mat-form-field appearance="outline" class="mat-form-field-width">
            <mat-label>Correo electrónico</mat-label>
            <input matInput id="email" formControlName="email">
        </mat-form-field>
        <span *ngIf="isValidField('email')" class="form-text text-danger">
            {{isValidName('email')}}
        </span>
        
        <mat-form-field appearance="outline" class="mat-form-field-width">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" matInput id="password" formControlName="password">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <span *ngIf="isValidField('password')" class="form-text text-danger">
            {{isValidName('password')}}
        </span>
        
        <button mat-button type="submit" class="login-button">Ingresar</button>

        <button mat-button   (click)="redirectToRegisterPage()" class="comeback-button" >Crear usuario</button>
    </form>
</div>
