<header>
    <mat-toolbar color="light" class="navbar">


        <img src="../../../assets/WorkspaceLogo.png" class="appLogo" width="40" height="40">

        <span class="spacer"></span>

        <button mat-icon-button aria-label="calendar with task icon">
            <mat-icon matBadge="15" matBadgePosition="above after" matBadgeSize="small" matBadgeOverlap="false"
                matBadgeColor="warn" class="badge">
                <mat-icon class="calendar-icon-button">edit_calendar </mat-icon> </mat-icon>
        </button>

        <span class="button-space"></span>
        <button mat-icon-button class="profile-button" (click)="openDialog('0ms', '0ms')">
            <img src="../../../assets/profile.png" alt="User profile picture" class="profile-icon">
        </button>
    </mat-toolbar>
    <span class="navbar-span"></span> <!-- Nuevo elemento span -->
</header>
