.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x:auto;

}

.title {
    margin-bottom: 10px;
    
}
.buttonPurple {
    margin-right: 240px;
    font-size: 18px;
    font-weight:500;
    
}
.buttonPurple button {
    vertical-align: middle;
    color: #5230ff;
    background-color: transparent;
    border: none;
}

.buttonPurple button:hover {
    background-color: rgba(82, 48, 255, 0.1);
}

.form {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.mat-form-field-width {
    width: 100%;
}
.subtitle-text {
    padding-bottom: 8px; 
}
.mat-form-field-width button {
    color: #5230ff;
    background-color: transparent;
    border: none;
}

.mat-form-field-width button:hover {
    background-color: rgba(82, 48, 255, 0.1);
}

.register-button {
    width: 100%; 
    height: 45px;
    background-color: #5230ff; 
    color: white !important; 
    margin-bottom: 5px;
}

.comeback-button {
    width: 100%;
    height: 45px;
    background-color: white;
    color: #5230ff !important;
    margin-bottom: 5px;
    border: 1px solid #5230ff;
}

.register-button,
.comeback-button {
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
    .form {
        max-width: 90%;
    }
    .buttonPurple {
        margin-right: 200px;
    }
}

.text-danger{
    color:red!important;
    font-weight: 300;
}
