.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container-header {
    width: 85%;
    margin-bottom: 25px;

}

.header {
    width: 100%;
    display: flex;
    gap: 190px;
}



.header h1 {
    margin-bottom: 0px !important;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
}

.add {
    transform: scale(1.5);
    color: #5230ff;
    cursor: pointer;
}
.custom-checkbox .mat-checkbox-background {
    background-color: #5230ff; /* Cambiar el color del checkbox */
  }
.search {
    width: 300px;
}

.filters {
    width: 100%;
}

.filter-subtitle {
    font-weight: bold;
}

.delete-button,
.confirm-button {
    color: #828282;
    background-color: #f7f5ff;
}

.delete-button.checked,
.confirm-button.checked {
    color: white;
    background-color: #5230ff;
}

.delete-button {
    margin-right: 5px;
}

.confirm-button {
    margin-left: 5px;
}


.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    width: 100%;
    max-width: 1200px;
}

.example-card {
    width: 100%;
    max-width: 300px;
    height: 100%;
}

.title-content {
    margin-left: 16px;
}

.mat-card-header {
    vertical-align: middle;
}

.mat-card-title {
    font-size: 18px;
    font-weight: bold;
}

.checkbox-container {
    margin-left: auto;
    color: #5230ff;
}



.mat-card-subtitle {
    display: flex;
    align-items: center !important;
    align-content: center !important;
    font-size: 14px;
    vertical-align: middle;
}

.mat-card-subtitle mat-icon {
    margin-right: 8px;

}

.mat-card-content {
    font-size: 16px;
    color: #333;
}

.card-icons {
    color: black;
    transform: scale();

}

.mat-card-actions {
    justify-content: space-around;
}

.action-icons {
    color: #5230ff;
}

.pagination {
    padding: 0;

}

@media screen and (max-width: 800px) {
    .container-header {
        width: 90%;
        margin-bottom: 15px;
    }

    .searchfilter {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    .container-header {
        width: 70%;
    }

    .searchfilter {
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    .container-header {
        width: 85%;
    }

    .searchfilter {
        width: 100%;
    }

    .header {
        gap: 0%;
    }

}

@media screen and (max-width: 320px) {
    .container-header {
        width: 100%;
    }
}