<div class="container">
  <div class="container-header">
    <div class="header">
      <h1 class="title">Tareas</h1>
      <button mat-icon-button (click)="redirectCreatePage()">
        <mat-icon class="add icon-style">add_box</mat-icon>
      </button>
    </div>
    <div class="filters">
      <mat-form-field appearance="outline" class="search">
        <mat-label>Búsqueda <mat-icon class="add icon-style">search</mat-icon></mat-label>
        <input matInput [(ngModel)]="searchText" (input)="searchTextChanged()">
      </mat-form-field>

      <h2 class="filter-subtitle">Filtros</h2>
      <div class="button-group">
        <button mat-button [class.checked]="filtersToGetTaskList.isCompleted === false" (click)="selectOption(false)"
          class="delete-button">Incompletas</button>
        <button mat-button [class.checked]="filtersToGetTaskList.isCompleted === true" (click)="selectOption(true)"
          class="confirm-button">Completas</button>
      </div>
    </div>
  </div>
  <div class="card-list">
    <mat-card class="example-card" [class.expanded]="isDescriptionExpanded(task.taskId)"
      (click)="toggleDescription(task.taskId)"
      *ngFor="let task of taskList| paginate: { itemsPerPage: 9, currentPage: page, }" id="{{task.taskId}}">
      <mat-card-header>
        <div class="checkbox-container">
          <mat-checkbox color="primary" class="custom-checkbox" [checked]="task.isCompleted"
            (change)="setComplete($event.checked, task)">
          </mat-checkbox>
        </div>

        <mat-card-subtitle>
          <div class="card-data">
            <mat-icon class="card-icons">edit_calendar</mat-icon>
            <span>{{ task.updateDate }} (editado)</span>
          </div>
          <div class="card-data">
            <mat-icon class="card-icons">calendar_today</mat-icon>
            <span>{{ task.createDate }} (creado)</span>
          </div>
          <div class="card-data">
            <mat-icon class="card-icons">gpp_maybe</mat-icon>
            <span>Prioridad: {{ task.priority }}</span>
          </div>
          <div class="card-data">
            <mat-icon class="card-icons">checklist_rtl</mat-icon>
            <span>Categoría: {{ task.category.name }}</span>
          </div>

        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-title class="card-title">
        {{task.title}}
      </mat-card-title>

      <mat-card-content>

        <p class="description" [class.expanded]="isDescriptionExpanded(task.taskId)">
          {{ task.description }}
        </p>

      </mat-card-content>
      <mat-card-actions>
        <div class="card-footer">
          <button mat-icon-button color="#5230ff" aria-label="Login page" (click)="redirectEditPage(task.taskId)">
            <mat-icon class="action-icons">edit</mat-icon>
          </button>
          <button mat-icon-button color="#5230ff" class="action-icons" aria-label="Login page"
            (click)="deleteDialogComponent(task.taskId,'0ms', '0ms')">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

  <pagination-controls  *ngIf="taskList.length > 0" class="pagination" (pageChange)="page = $event" previousLabel="Anterior"
    nextLabel="Siguiente"></pagination-controls>