<div class="container">

    <h3 class="buttonPurple">
        Tareas
    </h3>

    <div class="card-list">

        <mat-card class="example-card" *ngFor="let task of taskList">
            <mat-card-header>
                <mat-card-subtitle>
                    <mat-icon class="card-icons">edit_calendar</mat-icon>
                    <span class="subtitle-text">{{ task.updateDate }}</span>
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <mat-icon class="card-icons">calendar_today</mat-icon>
                    <span class="subtitle-text">{{ task.createDate }}</span>
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <mat-icon class="card-icons">gpp_maybe</mat-icon>
                    <span class="subtitle-text">{{ task.priority }}</span>
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <mat-icon>checklist_rtl</mat-icon>
                    <span class="subtitle-text">{{ task.category.name }}</span>
                </mat-card-subtitle> </mat-card-header>
            <mat-card-title>
                <div class="title-content">
                    {{task.title}}
                </div>
            </mat-card-title>
            <mat-card-header>

                <mat-card-subtitle>
                    <p>
                        {{task.description}}
                    </p>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>

                <button mat-icon-button color="#5230ff" aria-label="Login page" (click)="redirectCreatePage()">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button color="#5230ff" aria-label="Login page" (click)="redirectEditPage()">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>

    </div>

</div>